* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  /* border: 1px solid black; */
}

header {
  width: 100%;
  height: 100px;
  background-color: lightblue;
}

header .inner {
  position: relative;
  height: 100%;
  margin: auto;
  max-width: 1200px;
  padding: 0 1.5rem;
}

header .inner .logo {
  position: absolute;
  /* i는 font-size로 크기 조정 */
  font-size: 50px;
  line-height: 100px;
  color: aliceblue;
}

/* header .inner .menu <- 이 경우
@mediaquery에서도 동일depth의 선택자를 사용할 것*/
.menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  font-size: 24px;
  /* border: 1px solid black; */
  padding: 0 20px;
  font-weight: 700;
}

.small-menu,
.menu-bar {
  /* display:none 자리차지 안하게 */
  display: none;
}

.small-menu li {
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
  padding: 20px 0;
  background-color: aliceblue;
  cursor: pointer;
}

.small-menu li:hover {
  background-color: gainsboro;
}

@media screen and (max-width: 768px) {
  header {
    height: 60px;
  }

  .small-menu,
  .menu-bar {
    display: block;
  }

  .menu-bar {
    position: absolute;
    top: 0;
    left: 90%;
    transform: translateX(-50%);
    line-height: 60px;
    font-size: 30px;
  }

  .menu {
    display: none;
  }

  header .inner .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 60px;
    font-size: 50px;
    color: aliceblue;
  }
}
