body {
    background-color: lightgoldenrodyellow;
}
h1 {
    color: darkgreen;
}
table {
    text-align: center;
    width : 90%;
    height : 700px;
}
th { 
    text-align: center;
}
tr {
    text-align: right ;
}
tr>*:first-child {
    color:red;
}
tr>*:last-child {
    color:blue;
}

.holiday {
    color :red;
}